<div class="roster">
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Albedo" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Albedo.png">
        <img alt="Geo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Geo.png">
        <h2 class="name">Albedo</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Alhaitham" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Alhaitham.png">
        <img alt="Dendro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Dendro.png">
        <h2 class="name">Alhaitham</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Aloy" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Aloy.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Aloy</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Ayaka" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Ayaka.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Ayaka</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Ayato" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Ayato.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Ayato</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Baizhu" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Baizhu.png">
        <img alt="Dendro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Dendro.png">
        <h2 class="name">Baizhu</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Childe" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Childe.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Childe</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Chiori" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Chiori.png">
        <img alt="Geo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Geo.png">
        <h2 class="name">Chiori</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Cyno" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Cyno.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Cyno</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Dehya" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Dehya.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Dehya</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Diluc" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Diluc.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Diluc</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Eula" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Eula.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Eula</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Furina" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Furina.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Furina</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Ganyu" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Ganyu.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Ganyu</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Hu Tao" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Hu Tao.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Hu Tao</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Itto" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Itto.png">
        <img alt="Geo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Geo.png">
        <h2 class="name">Itto</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Jean" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Jean.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Jean</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Kazuha" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Kazuha.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Kazuha</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Keqing" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Keqing.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Keqing</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Klee" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Klee.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Klee</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Kokomi" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Kokomi.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Kokomi</h2>
    </div>

    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Lyney" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Lyney.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Lyney</h2>
    </div>

    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Mona" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Mona.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Mona</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Nahida" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Nahida.png">
        <img alt="Dendro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Dendro.png">
        <h2 class="name">Nahida</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Navia" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Navia.png">
        <img alt="Geo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Geo.png">
        <h2 class="name">Navia</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Neuvillette" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Neuvillette.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Neuvillette</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Nilou" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Nilou.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Nilou</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Qiqi" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Qiqi.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Qiqi</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Raiden" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Raiden.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Raiden</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Shenhe" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Shenhe.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Shenhe</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Tighnari" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Tighnari.png">
        <img alt="Dendro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Dendro.png">
        <h2 class="name">Tighnari</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Traveler (Anemo)" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Traveler (Anemo).png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Traveler</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Traveler (Dendro)" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Traveler (Dendro).png">
        <img alt="Dendro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Dendro.png">
        <h2 class="name">Traveler</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Traveler (Electro)" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Traveler (Electro).png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Traveler</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Traveler (Geo)" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Traveler (Geo).png">
        <img alt="Geo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Geo.png">
        <h2 class="name">Traveler</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Traveler (Hydro)" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Traveler (Hydro).png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Traveler</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Venti" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Venti.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Venti</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Wanderer" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Wanderer.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Wanderer</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Wriothesley" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Wriothesley.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Wriothesley</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Xianyun" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Xianyun.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Xianyun</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Xiao" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Xiao.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Xiao</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Yae Miko" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Yae Miko.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Yae Miko</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Yelan" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Yelan.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Yelan</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Yoimiya" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Yoimiya.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Yoimiya</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Zhongli" class="roster-illustrations star-5" src="https://rerollcdn.com/GENSHIN/Characters/1/Zhongli.png">
        <img alt="Geo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Geo.png">
        <h2 class="name">Zhongli</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Amber" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Amber.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Amber</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Barbara" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Barbara.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Barbara</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Beidou" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Beidou.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Beidou</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Bennett" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Bennett.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Bennett</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Candace" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Candace.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Candace</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Charlotte" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Charlotte.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Charlotte</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Chevreuse" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Chevreuse.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Chevreuse</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Chongyun" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Chongyun.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Chongyun</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Collei" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Collei.png">
        <img alt="Dendro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Dendro.png">
        <h2 class="name">Collei</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Diona" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Diona.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Diona</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Dori" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Dori.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Dori</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Faruzan" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Faruzan.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Faruzan</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Fischl" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Fischl.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Fischl</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Freminet" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Freminet.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Freminet</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Gaming" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Gaming.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Gaming</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Gorou" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Gorou.png">
        <img alt="Geo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Geo.png">
        <h2 class="name">Gorou</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Heizou" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Heizou.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Heizou</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Kaeya" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Kaeya.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Kaeya</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Kaveh" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Kaveh.png">
        <img alt="Dendro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Dendro.png">
        <h2 class="name">Kaveh</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Kirara" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Kirara.png">
        <img alt="Dendro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Dendro.png">
        <h2 class="name">Kirara</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Kuki Shinobu" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Kuki Shinobu.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Kuki Shinobu</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Layla" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Layla.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Layla</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Lisa" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Lisa.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Lisa</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Lynette" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Lynette.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Lynette</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Mika" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Mika.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Mika</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Ningguang" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Ningguang.png">
        <img alt="Geo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Geo.png">
        <h2 class="name">Ningguang</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Noelle" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Noelle.png">
        <img alt="Geo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Geo.png">
        <h2 class="name">Noelle</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Razor" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Razor.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Razor</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Rosaria" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Rosaria.png">
        <img alt="Cryo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Cryo.png">
        <h2 class="name">Rosaria</h2>
    </div>
    <div class="roster-pictures" data-weapon="Bow">
        <img alt="Sara" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Sara.png">
        <img alt="Electro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Electro.png">
        <h2 class="name">Sara</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Sayu" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Sayu.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Sayu</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Sucrose" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Sucrose.png">
        <img alt="Anemo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Anemo.png">
        <h2 class="name">Sucrose</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Thoma" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Thoma.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Thoma</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Xiangling" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Xiangling.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Xiangling</h2>
    </div>
    <div class="roster-pictures" data-weapon="Sword">
        <img alt="Xingqiu" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Xingqiu.png">
        <img alt="Hydro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Hydro.png">
        <h2 class="name">Xingqiu</h2>
    </div>
    <div class="roster-pictures" data-weapon="Claymore">
        <img alt="Xinyan" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Xinyan.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Xinyan</h2>
    </div>
    <div class="roster-pictures" data-weapon="Catalyst">
        <img alt="Yanfei" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Yanfei.png">
        <img alt="Pyro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Pyro.png">
        <h2 class="name">Yanfei</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Yaoyao" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Yaoyao.png">
        <img alt="Dendro" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Dendro.png">
        <h2 class="name">Yaoyao</h2>
    </div>
    <div class="roster-pictures" data-weapon="Polearm">
        <img alt="Yun Jin" class="roster-illustrations star-4" src="https://rerollcdn.com/GENSHIN/Characters/1/Yun Jin.png">
        <img alt="Geo" class="roster-element" src="https://rerollcdn.com/GENSHIN/Elements/Element_Geo.png">
        <h2 class="name">Yun Jin</h2>
    </div>
</div>