<!-- Footer Section -->
<footer class="footer">
    <div>
        <!-- Forum name -->
        <h3><%= forumName %></h3>
        <!-- Disclaimer -->
        <p class="info">Genshin Impact™ is a registered trademark of HoYoverse Co., Ltd. This site is not affiliated with or endorsed by HoYoverse. Images and data © HoYoverse Co., Ltd.</p>
    </div>
    <div>
        <!-- Contact information -->
        <h3>Reach out</h3>
        <p>teyvattales@gmail.com</p>
        <!-- Social media links -->
        <div class="social-links-horizontal">
            <a href="https://www.youtube.com/c/GenshinImpact" class="social-icon" target="_blank" title="YouTube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
            <a href="https://twitter.com/GenshinImpact" class="social-icon" target="_blank" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/genshinimpact" class="social-icon" target="_blank" title="Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.reddit.com/r/Genshin_Impact/" class="social-icon" target="_blank" title="Reddit"><i class="fab fa-reddit" aria-hidden="true"></i></a>
        </div>
    </div>
    <div>
        <!-- Links -->
        <h3>Helpful Resources</h3>
        <a href="characters" aria-label="Characters">Characters</a>
        <br>
        <a href="about" aria-label="About">About</a>
        <br>
        <a href="posts" aria-label="Forum">Forum</a>
        <br>
        <a href="contact" aria-label="Contact Us">Contact Us</a>
    </div>
</footer>