<!-- Footer Section -->
<footer class="footer">
    <div>
        <!-- Forum name -->
        <h3><%= forumName %></h3>
        <!-- Disclaimer -->
        <p class="info">Genshin Impact™ is a registered trademark of HoYoverse Co., Ltd. This site is not affiliated with or endorsed by HoYoverse. Images and data © HoYoverse Co., Ltd.</p>
    </div>
    <div>
        <!-- Contact information -->
        <h3>Reach out</h3>
        <p>teyvattales@gmail.com</p>
        <!-- Social media links -->
        <div class="social-links-horizontal">
            <a href="https://www.youtube.com/c/GenshinImpact" class="social-icon" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://twitter.com/GenshinImpact" class="social-icon" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/genshinimpact" class="social-icon" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.reddit.com/r/Genshin_Impact/" class="social-icon" target="_blank"><i class="fab fa-reddit"></i></a>
        </div>
    </div>
    <div>
        <!-- Links -->
        <h3>Helpful Resources</h3>
        <a href="characters">Characters</a>
        <br>
        <a href="about">About</a>
        <br>
        <a href="posts">Forum</a>
        <br>
        <a href="contact">Contact Us</a>
    </div>
</footer>